<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Store:etc/config.xsd">
    <default>
        <payment>
            <nodapayment>
                <active>1</active>
                <is_test>1</is_test>
                <model>Noda\Payments\Model\Nodapayment</model>
                <order_status>pending</order_status>
                <title>NodaPay</title>
                <allowspecific>0</allowspecific>
                <group>nodapayments</group>
            </nodapayment>
        </payment>
    </default>
</config>
